<html>
 <head>
   <%= stylesheet_link_tag "home", "application" %>
 </head>
 <div id="body">
 <body>  
    
    <div id="logo">
        <img width="328" height="50" src="http://t0.gstatic.com/images?q=tbn:ANd9GcS6D9rEs6QbNK45YJWNpDTUDaP5QcDXDaTkVb8stGHhRSKcMxpiij9xaRTmrg" alt="HTMLQuick link button"/> 
    </div> 
    <%= yield %>  
    
 </body>    
 </div>
</html>
